.ride_card_container {
    width: 80%;
    display: block;
    border: 1px solid #6c757d;
    margin: 2px 0 2px;
    height: 150px;
}

.ride_card_container_inner {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.ride_info_container {
    display: flex;
    width: 75%;
}

.train_route_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin-right: 5%;
}

.train_type_container {
    font-size: 13px;
}

.ride_name_container {
    font-size: 20px;
    color: #0d6efd;
}

.time_info {
    display: inherit;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-right: 5%;
}
.time_info_item {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.ticket_info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ticket_info_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_container {
    display: inherit;
    align-items: center;
    justify-content: center;
    height: 100%;
}